:root {
  /* Fonts */
  --main-font: 'TT Hoves Pro Trial', sans-serif;
  --additional-font: 'SF Pro Display', sans-serif;
  --auxiliary-font: 'Gothic A1', sans-serif;
  --digital-roject-font: 'Open Sans', sans-serif;

  /* Tex colars */
  --gray-1: #333;
  --gray-4: #bdbdbd;
  --gray-6: #f2f2f2;
  --text-colar: #000;

  /* Bg colars */
  --bg-colar: #2c2c2c;
  --bg-form-colar: #f3f3f3;
}
