.footer-section {
  padding: 0px;
  color: white;
  background-color: #2c2c2c;
}

.footer-container {
  display: flex;
  padding: 58px 0px 60px 0px;

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 106px;
    height: 213px;
    margin-left: 100px;
  }
  &-info__title {
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 25px;
  }

  &-info__item:not(:last-child) {
    margin-bottom: 12px;
  }
  &-info__link {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.42px;

    transition-property: border-top, border-bottom;
    transition-duration: 300ms;
    transition-timing-function: linear;
  }
  &-info__link:hover,
  &-info__link:focus {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  &-contacts {
    width: 268px;
    height: 213px;
    display: flex;
    flex-direction: column;
    margin-left: 157px;
  }
  &-wrapper:last-child {
    margin-top: 33px;
  }
  &-wrapper--location {
    width: 268px;
    height: 72px;
    margin-bottom: 31px;
  }
  &-wrapper {
    display: flex;
    align-items: center;
  }
  &-wrapper:first-child {
    margin-bottom: 40px;
  }

  &-contacts__title {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    margin-bottom: 25px;
  }
  &-contacts__text {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-left: 30px;
  }
  &-contacts__icon {
    position: absolute;
  }
  &-social_network {
    margin-left: 147px;
  }
  &-social_network__title {
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 23px;
  }
  &-social_network__list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &-social_network__link {
    display: flex;
    align-items: center;
    padding: 6px;

    transition-property: border-radius, background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
  }

  &-social_network__link:hover,
  &-social_network__link:focus {
    border-radius: 50%;
    background-color: gray;
  }
}

.footer-section::after {
  content: '';
  position: absolute;
  width: 1440px;
  stroke-width: 1px;

  outline: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: -70px;
}

.footer-lower-text {
  color: rgba(200, 200, 200, 0.5);
  font-family: var(--digital-roject-font);
  line-height: 22px;
  display: flex;
  padding: 24px 0 24px 0px;
  align-items: center;
  justify-content: center;
}
